* {
    margin: 0;
    padding: 0;
}

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
    width: 100%;
    margin: 0 auto;

    background-image: url("../img/background2.png");
    background-size: cover;
    background-repeat: no-repeat;

    font-family: 'pretendard';
}
#wrap {
    width: 100%;
    margin: 0 auto;

    background-repeat: no-repeat;
}
#logo {
    position: absolute;
    width: 171px;
    height: 54px;
    left: 365px;
    top: 41px;
}
nav {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    text-align: center;

    color: #FFFFFF;

    position: absolute;
    width: 216px;
    height: 34px;
    left: 1334px;
    top: 51px;
}
#moving {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;

    color: #FFFFFF;
}
#title {
    position: absolute;

    left: 360px;
    top: 296px;
}
#sub_title {
    position: absolute;
    left: 365px;
    top: 556px;
    
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;

    letter-spacing: 0.1em;
    color: #FFFFFF;
}
#google {
    position: absolute;
    width: 220px;
    height: 80px; 
    margin: 0 auto;
    left: 360px;
    top: 672px;
}
#apple {
    position: absolute;
    width: 220px;
    height: 80px;
    margin: 0 auto;
    left: 620px;
    top: 672px;
}
#title_image {
    position: absolute;
    width: 898px;
    height: 1121px;
    left: 876px;
    top: 419px;

    margin: 0 auto;
    /* width: 1146px;
    height: 1596px; */
    /* left: 37.5%; */
}
li {
    list-style-type: none;
    display: inline;
    float: left;

    margin: 0 0 0 40px;
}
a:link {
    text-decoration: none;
}
a:visited {
    color: #FFFFFF;
    text-decoration:none;
}
#nav_bar {
    position: absolute;
    width: 60px;
    height: 3px;
    left: 1470px;
    top: 97px;
}
span {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    text-align: right;

    color: #FF6F61;
    padding-bottom: 10px;
}
#title2 {
    position: absolute;
    left: 360px;
    top: 1688px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;

    color: #FF6F61;

}
#underbar1 {
    position: absolute;
    width: 70px;
    height: 6px;
    left: 360px;
    top: 1764px;
}
#underbar2 {
    position: absolute;
    width: 70px;
    height: 6px;
    left: 360px;
    top: 2554px;
}
#underbar3 {
    position: absolute;
    width: 70px;
    height: 6px;
    left: 360px;
    top: 5793px;
}
#underbar4 {
    position: absolute;
    width: 70px;
    height: 6px;
    left: 360px;
    top: 7319px;
}
#underbar5 {
    position: absolute;
    width: 70px;
    height: 6px;
    left: 360px;
    top: 9214px;
}
#underbar6 {
    position: absolute;
    width: 70px;
    height: 6px;
    left: 360px;
    top: 10853px;
}
#underbar7 {
    position: absolute;
    width: 70px;
    height: 6px;
    left: 360px;
    top: 12238px;
}
#sub_title2 {
    position: absolute;
    left: 374px;
    top: 1805px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;

    color: #000000;

}
#sub_title3 {
    position: absolute;
    left: 374px;
    top: 2577px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;

    color: #000000;

}
#sub_title4 {
    position: absolute;
    left: 374px;
    top: 5816px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;

    color: #000000;

}
#sub_title5 {
    position: absolute;
    left: 374px;
    top: 7342px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;

    color: #000000;

}
#sub_title6 {
    position: absolute;
    left: 374px;
    top: 9237px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;

    color: #000000;

}
#sub_title7 {
    position: absolute;
    left: 374px;
    top: 10876px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;

    color: #000000;

}
#sub_title8 {
    position: absolute;
    left: 374px;
    top: 12261px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;

    color: #000000;

}
#service {
    position: absolute;
    width: 864px;
    height: 248px;
    left: 528px;
    top: 2004px;
}
#test_main1 {
    position: absolute;
    
    left: 520px;
    top: 2757px;
}
#test_main2 {
    position: absolute;
    
    left: 424px;
    top: 4000px;
}
#recommend_main {
    position: absolute;
    
    left: 367px;
    top: 6027px;
}
#community_main {
    position: absolute;
    
    left: 594px;
    top: 7536px;
}
#calendar_main {
    position: absolute;
    
    left: 369px;
    top: 9536px;
}
#challenge_main {
    position: absolute;
    
    left: 699px;
    top: 11172px;
}
#collection_main {
    position: absolute;
    
    left: 360px;
    top: 12555px;
}
#test_introduce1 {
    position: absolute;
    width: 260px;
    height: 107px;
    left: 413px;
    top: 2752px;

    text-align: right;
}
#test_introduce2 {
    position: absolute;
    width: 260px;
    height: 107px;
    left: 1003px;
    top: 3743px;
}
#test_introduce3 {
    position: absolute;
    width: 245px;
    height: 85px;
    left: 955px;
    top: 4143px;
}
#test_introduce4 {
    position: absolute;
    width: 303px;
    height: 129px;
    left: 992px;
    top: 4779px;
}
#recommend_introduce1 {
    position: absolute;
    width: 323px;
    height: 107px;
    left: 954px;
    top: 6236px;
}
#recommend_introduce2 {
    position: absolute;
    width: 323px;
    height: 85px;
    left: 1017px;
    top: 6537px;
}
#recommend_introduce3 {
    position: absolute;
    width: 296px;
    height: 129px;
    left: 987px;
    top: 6739px;
}
#community_introduce1 {
    position: absolute;
    width: 319px;
    height: 107px;
    left: 1205px;
    top: 7531px;
}
#community_introduce2 {
    position: absolute;
    width: 205px;
    height: 85px;
    left: 369px;
    top: 7842px;

    text-align: right;
}
#community_introduce3 {
    position: absolute;
    width: 363px;
    height: 127px;
    left: 619px;
    top: 8686px;
}
#calendar_introduce1 {
    position: absolute;
    width: 358px;
    height: 85px;
    left: 411px;
    top: 9431px;

    text-align: right;
}
#calendar_introduce2 {
    position: absolute;
    width: 240px;
    height: 178px;
    left: 1283px;
    top: 9784px;
}
#calendar_introduce3 {
    position: absolute;
    width: 449px;
    height: 85px;
    left: 1008px;
    top: 10522px;
}
#challenge_introduce1 {
    position: absolute;
    width: 302px;
    height: 112px;
    left: 377px;
    top: 11260px;

    text-align: right;
}
#challenge_introduce2 {
    position: absolute;
    width: 390px;
    height: 112px;
    left: 677px;
    top: 11706px;
    
    text-align: right;
}
#collection_introduce1 {
    position: absolute;
    width: 247px;
    height: 112px;
    left: 1307px;
    top: 12798px;
}
#collection_introduce2 {
    position: absolute;
    width: 516px;
    height: 112px;
    left: 417px;
    top: 13471px;
}
#footer_background {
    width: 100%;
    height: auto;

    left: 0px;
    top: 13906px;
}
#footer_comment {
    position: absolute;
    left: 358.45px;
    top: 14445px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;

    color: #FFFFFF;
}
#enjoy {
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;

    color: #FFFFFF;
}
#footer_copyright {
    display: inline;
    position: absolute;
    left: 34px;
    top: 14808px;
    padding: 10px;

    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;

    color: #FFFFFF;
}